/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

:root {
  --main-color: #326B75;
  --secondary-color: #9E866B;
  --text-color: #494949;
  --background-color: white;
  --main-font: font-family: 'Cormorant', serif;
}

body {
  margin: 0;
  padding: 0;
}

/* HEADER */
header img {
  width: 100%;
  top: 0;
}

/* https://codepen.io/erikterwan/pen/EVzeRP */
nav:first-of-type {
  display: block;
  position: relative;
  top: 36.5px;
  right: -0.5em;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; /* gebruiker kan de tekst niet selecteren */
}

header nav a {
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  transition: color 0.3s ease;
  font-family: 'PT Sans', sans-serif;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  padding-left: 0.5em;
}

nav:first-of-type a:hover {
  color: var(--main-color);
}

nav:first-of-type input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;  /* verberg dit */
  z-index: 2; /* de plaats is boven de hamburger (span) */
  -webkit-touch-callout: none;
}

nav:first-of-type span {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--main-color);
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease; 
  /* cubic bezier-curve, deze heeft vier punten (P0, P1, P2 en P3). P0 en P3 zijn het begin en einde. */
}

nav:first-of-type span:nth-of-type(1) {
  transform-origin: 0% 0%;  /* punt waaromheen een transformatie wordt toegepast */
}

nav:first-of-type span:nth-of-type(3) {
  transform-origin: 0% 100%;
}

nav:first-of-type input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--main-color);
}

nav:first-of-type input:checked ~ span:nth-of-type(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

nav:first-of-type input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg) translate(0, -1px);
}

nav:first-of-type ul {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: var(--background-color);
  list-style-type: none;
  -webkit-font-smoothing: antialiased; /* flikkeren van tekst in safari te stoppen */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

nav:first-of-type ul li {
  padding: 7px 0;
  font-size: 22px;
}

nav:first-of-type input:checked ~ ul {
  transform: none;
}

/* MAIN */
section:nth-of-type(1) img {
   width: 100%; 
}

main img:nth-of-type(1) {
  width: 100%;
}

.mySlider {
  display: block;
}

h2 {
  font-family: var(--main-font);
  letter-spacing: 0.1em;
  font-size: 1.4em;
  font-style: italic ;
  padding-left: 0.5em;
}

section:nth-of-type(3) h2 {
  text-align: center;
}

article {
  display: flex;
  justify-content: flex-start;
}

article a {
  color: var(--background-color);
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--main-color);
  font-family: 'PT Sans', sans-serif;
  padding: 0.7em;
  white-space: nowrap;
}

article:first-of-type {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  padding: 0.3em;
}

article:first-of-type h2 {
  margin: 0;
}

article h6 {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  color: var(--main-color);
  margin: 0;
}

figure:nth-of-type(1) img {
  width: 104%;
}

figure:nth-of-type(2) img {
  width: 100%;
}

figure {
  margin: 1em;
}

article h3:nth-of-type(1) {
  margin-bottom: 1em;
  margin-top: 0.3em;
}

article h3 {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  margin: 0;
}

figcaption {
  font-family: 'PT Sans', sans-serif;
  color: var(--secondary-color);
  text-align: center;
  margin: 0;
}

article h5 {
  font-family: 'PT Sans', sans-serif;
  color: var(--text-color);
  text-align: center;
  margin: 0;
}

section:nth-of-type(4) h3 {
  font-family: var(--main-font);
  font-style: italic ;
  letter-spacing: 0.1em;
  font-size: 1.2em;
  padding-left: 1em;
}

section:nth-of-type(4) p {
  font-family: 'PT Sans', sans-serif;
  padding-left: 1em;
  padding-right: 5em;
  text-align: left;
}

section:nth-of-type(4) img:nth-of-type(2) {
  position: absolute;
  width: 10%;
  right: 2em;
  top: 119em;
}

/* FOOTER */
footer {
  background-color: #363636;
  padding-bottom: 5em;
  margin-top: 5em;
}

footer img {
  width: 90%;
}

footer nav p:first-of-type {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  color: var(--background-color);
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 0;
}

footer nav p:nth-of-type(2) {
  font-family: 'PT Sans', sans-serif;
  color: grey;
  font-size: 0.9em;
}

footer nav a {
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  color: var(--background-color);
  text-transform: uppercase;
}

footer li {
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

footer hr {
  opacity: 20%;
}

/* MAIN PAGINA TWEE */
figure.theseven-boek img {
  width: 104%;
}

figure.dune-boek img {
  width: 104%;
}

h4 {
  font-family: 'PT Sans', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

section h4:nth-of-type(1) {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1.3em;
}

section.bestsellertitle {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  
}

section.bestsellertitle a:nth-of-type(2) {
  text-transform: uppercase;
  color: var(--background-color);
  background: var(--main-color);
  text-align: center;
  padding: 0.7em;
  margin-top: 2em;
}

section.bestsellertitle a:nth-of-type(1) {
  border: 1px solid lightgray;
  padding: 0.8em;
  color: black;
}

section.bestsellertitle h4:nth-of-type(2) {
  font-style: italic;
}

section.showmoreknop a {
  text-transform: uppercase;
  color: var(--background-color);
  background: var(--main-color);
  text-align: center;
  padding: 0.7em;
}

section.showmoreknop {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}